@charset "utf-8";

body {background-color: #663366; align-content: center;}
h1 {
    color: #E7EBF0;
    text-align: center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
h2 {
    color: #660F57;
    text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
h3 {
    color: #660F57;
    text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}


p {
    color: #003366;
    text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
.navbar {align-items: center;}
.navbar ul {
  list-style: none;
  background-color: #660F57;
  text-align: center;
  padding: 20px;
  margin: 0;
	display: inline;
	align-self: center;
}
.navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline;
}
 
.navbar a {
  text-decoration: none;
  color: #E7EBF0;
	display: inline;
	padding: 20px;
}
 
.navbar a:hover {
  background-color: #B1BDCD;
}
 
.navbar a:active {
  background-color: #fff;
  color: #003366;
  cursor: default;
}

.eventconnection {
    width: 50%;
    height: auto;
    padding: 15px;
    margin: 15px;
    background-color: #B1BDCD;
justify-content: space-around;}

.proposal {width: auto; height: auto; background-color: #B1BDCD; align-self: center; margin: 15px; justify-content: space-around; padding: 15px;}

.extrainfo {display: flex;
justify-content: space-around;}

.image {width: auto; height: auto; align-content: center; margin: 15px; justify-content: space-around; padding: 15px; display: flex;}
 
.source {display: flex;}
img {align-content: center;}

.tasks {padding:30px;}
.info {padding: 20px;background-color: #B1BDCD; margin: 15px;}
.media {padding: 20px;background-color: #B1BDCD;margin: 15px;}
.coding {padding: 20px; background-color: #B1BDCD; margin: 15px;}
.colleges {background-color: #B1BDCD; padding: 20px;margin: 15px;}
.neighborhoods {background-color: #B1BDCD; padding: 20px;margin: 15px;}
.Age {background-color: #B1BDCD; padding: 20px;margin: 15px;}
